<link href="../home/home.component.css" rel="stylesheet">

<!-- Barra de busqueda -->
<div class="searchBar">
    <form (submit)="searchFavs()">
        <input type="text" [(ngModel)]="searchQuery" name="searchQuery"
            placeholder="Buscar entre tus películas Favoritas">
        <button class="searchButton" mat-flat-button color="accent" type="submit">Buscar</button>
    </form>
</div>

<h2>Películas Favoritas</h2>

<!-- Mostrar resultados de la búsqueda o películas favoritas -->
<div *ngIf="(searchResults.length > 0 || listaPelisFavs.length > 0)">
    <div class="contenedorDeTodasLasPelis">
        <div *ngFor="let movie of (searchResults.length > 0 ? searchResults : listaPelisFavs)">
            <app-movie-card [movie]="movie" [listaPelis]="listaPelisFavs" [userId]="userId" [categoria]="categoria">
            </app-movie-card>
        </div>
    </div>
</div>

<div *ngIf="listaPelisFavs.length === 0" class="sinPeliculasAñadidas">
    <p class="textSinPeliculas">No has añadido ninguna película todavia.</p>
</div>