<link href="../home/home.component.css" rel="stylesheet">

<!-- Barra de busqueda -->
<div class="searchBar">
    <form (submit)="searchVistas()">
        <input type="text" [(ngModel)]="searchQuery" name="searchQuery" placeholder="Buscar entre tus películas Vistas">
        <button class="searchButton" mat-flat-button color="accent" type="submit">Buscar</button>
    </form>
</div>

<h2>Películas Vistas</h2>

<!-- Mostrar resultados de la búsqueda o películas vistas -->
<div *ngIf="(searchResults.length > 0 || listaPelisVistas.length > 0)">
    <div class="contenedorDeTodasLasPelis">
        <div *ngFor="let movie of (searchResults.length > 0 ? searchResults : listaPelisVistas)">
            <app-movie-card [movie]="movie" [listaPelis]="listaPelisVistas" [userId]="userId" [categoria]="categoria"
                (listaPelisActualizada)="obtenerListaPelisActualizada($event)">
            </app-movie-card>
        </div>
    </div>
</div>

<div *ngIf="listaPelisVistas.length === 0" class="sinPeliculasAñadidas">
    <p class="textSinPeliculas">No has añadido ninguna película todavia.</p>
</div>