body {
    width: 100%;
    margin: 0;
    padding: 0;
}

mat-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-buttons {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.buttonHeader {
    color: black;
    margin-right: 40px;
}

@media screen and (max-width: 600px) {
    .buttonHeader {
        margin-right: 0;
    }
}

.buttonLogOut {
    margin: 10px;
    padding: 11px;
    font-size: 14px;
}

.active button {
    color: white;
}

.searchBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 40px;
}

.searchBar input {
    width: 250px;
    border-radius: 4px;
    margin: 10px;
    padding: 13px;
    border: 1px solid #FFD740;
    font-size: 14px;
}

.searchButton {
    margin: 10px;
    padding: 11px;
    font-size: 14px;
}

/* Contenedor principal */
.contenedorDeTodasLasPelis {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h2 {
    text-align: center;
    font-size: 24px;
}

footer {
    background-color: #333333dd;
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
}

footer p {
    font-size: 1em;
}